<div class="jumbotron">
  <h1 class="text-center">
    <span class="fa fa-cutlery"></span> Eat The Burger </h1>


</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <ul>
        {{#each burgers}} {{#unless devoured}}
        <li>
          {{burger_name}}
          <button class="change-devoured btn btn-outline-primary btn-sm" data-id="{{id}}" data-newdevoured="true" style="position: absolute; right: 0;">
            DEVOUR
          </button>
        </li>
        {{/unless}} {{/each}}
      </ul>
    </div>

    <div class="col-sm-6">
      <ul class="list-group">
        {{#each burgers}} {{#if devoured}}
        <li class="list-group-item">
          {{burger_name}}
        </li>
        {{/if}} {{/each}}
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
    <form class="create-form">

      <div class="form-group">
        <textarea class="form-control" id="ba" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-secondary">Add Burger</button>
  
    </form>
    </div>
  </div>


</div>